<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Details</title>
</head>
<body>
    Hi Freind
    <h1>{{ object.title }}</h1>
    <hr/>
    <h2>{{ object.id }}</h2>
<!--        <img src="{{ object.image.url }}">-->
    <small> {{ object.author.first_name }} -  {{ object.author.last_name }} - {{ object.published_date }}</small>
        <h3>{{ object.context }}</h3>

</body>
</html>